.cATALOGUEButton,
.fASHIONButton,
.fAVOURITEButton,
.lIFESTYLEButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.01em;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-700);
  text-align: left;
  display: inline-block;
  width: 101.26px;
  height: 27px;
  flex-shrink: 0;
}
.fASHIONButton,
.fAVOURITEButton,
.lIFESTYLEButton {
  width: 72.01px;
  height: 24.75px;
}
.fAVOURITEButton,
.lIFESTYLEButton {
  width: 92.26px;
}
.lIFESTYLEButton {
  width: 77.26px;
  height: 24px;
}
.linksDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 49px;
}
.rectangleDiv {
  position: absolute;
  top: 17.76px;
  left: 16.87px;
  border-radius: 5.77px;
  background-color: var(--color-white);
  box-shadow: 0 1.3316326141357422px 1.78px 0.89px rgba(0, 0, 0, 0.25);
  width: 40.39px;
  height: 38.62px;
}
.lineDiv,
.lineDiv1,
.lineDiv2 {
  position: absolute;
  top: 27.08px;
  left: 24.86px;
  border-top: 2.7px solid var(--color-black);
  box-sizing: border-box;
  width: 24.86px;
  height: 2.66px;
}
.lineDiv1,
.lineDiv2 {
  top: 35.95px;
}
.lineDiv2 {
  top: 44.83px;
}
.component2Button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-100);
  position: relative;
  border-radius: 13.32px;
  width: 74.57px;
  height: 74.57px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.linksContainerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.sIGNUPDiv {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: -0.03em;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
}
.menuRightDiv,
.signUpButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.signUpButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 17px;
  background-color: var(--color-black);
  border-radius: 5.25px;
  box-sizing: border-box;
  justify-content: center;
}
.button:hover,
.signUpButton:hover {
  background-color: var(--color-gray-600);
}
.menuRightDiv {
  justify-content: flex-start;
  gap: 40.5px;
}
.navigationBarDiv,
.navigationInnerBar {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navigationBarDiv {
  background-color: var(--color-white);
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-2xl);
  box-sizing: border-box;
  justify-content: flex-start;
}
.rectangleDiv1,
.rectangleDiv2 {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
  transform: rotate(-2deg);
  transform-origin: 0 0;
}
.rectangleDiv1 {
  top: 200.96px;
  right: 102.94px;
  background-color: var(--color-gold-100);
  width: 371.88px;
  height: 88.17px;
  z-index: 0;
}
.rectangleDiv2 {
  top: 12.15px;
  left: -20.52px;
  background-color: var(--color-white);
  width: 348.6px;
  height: 84.12px;
  z-index: 1;
}
.lETSP {
  margin-block-start: 0;
  margin-block-end: 0;
}
.cLOTHESP {
  margin: 0;
}
.lETSEXPLOREUNIQUECLOTHES {
  position: relative;
  line-height: 90.01px;
  font-weight: 900;
  display: inline-block;
  z-index: 2;
}
.liveForInfluentialAndInnov {
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: -0.05em;
  color: #191818;
  display: inline-block;
  width: 454.55px;
  height: 43.51px;
  flex-shrink: 0;
  z-index: 3;
}
.vectorIcon {
  position: relative;
  width: 142.52px;
  height: 23.97px;
  flex-shrink: 0;
}
.shopNowDiv {
  position: relative;
  font-size: 22.5px;
  letter-spacing: -0.05em;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 13px var(--padding-xs);
  background-color: var(--color-black);
  border-radius: var(--br-sm);
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
}
.button,
.buttonRowDiv,
.heroCTADiv {
  display: flex;
  justify-content: flex-start;
}
.buttonRowDiv {
  flex-direction: row;
  align-items: center;
  gap: 25.5px;
  z-index: 4;
}
.heroCTADiv {
  flex-direction: column;
  padding: 0 0 0 27.75px;
  box-sizing: border-box;
  align-items: flex-start;
  position: relative;
  gap: 27px;
}
.womanImageIcon {
  position: relative;
  width: 668.01px;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 50%;
}
.heroDiv,
.heroSectionDiv {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.heroSectionDiv {
  border-radius: 44.26px;
  background-color: #f4f6f5;
  flex-direction: row;
  padding: 50.9900016784668px var(--padding-md) 2px;
  justify-content: center;
  gap: 38px;
}
.heroDiv {
  background-color: var(--color-white);
  flex-direction: column;
  padding: 0 var(--padding-2xl) 44px;
  justify-content: flex-start;
  font-size: 72.01px;
}
.brandsIcon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  height: auto;
}
.leafIcon {
  position: absolute;
  margin: 0 !important;
  top: 11.93px;
  left: 162px;
  width: 139.52px;
  height: 26.2px;
  flex-shrink: 0;
  z-index: 0;
}
.titleDiv1 {
  position: relative;
  letter-spacing: 0.06em;
  line-height: 37.5px;
  font-weight: 900;
  display: inline-block;
  z-index: 1;
}
.titleDiv {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-xs);
}
.fashionImageIcon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-lg);
  max-width: 100%;
  overflow: hidden;
  height: 528.06px;
  flex-shrink: 0;
  object-fit: cover;
}
.exploreNowDiv,
.nameDiv {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 37.5px;
  font-weight: 500;
  display: inline-block;
  width: 240.78px;
  height: 27px;
  flex-shrink: 0;
}
.exploreNowDiv {
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  width: 113.26px;
  height: 24.75px;
}
.textDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.arrowIcon {
  position: relative;
  width: 25.13px;
  height: 16.57px;
  flex-shrink: 0;
}
.fashionCardDiv {
  width: 363.04px;
  height: 606.07px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21px;
}
.exploreNowDiv1,
.nameDiv1 {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 37.5px;
  font-weight: 500;
  display: inline-block;
  width: 172.52px;
  height: 27px;
  flex-shrink: 0;
}
.exploreNowDiv1 {
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  width: 114.76px;
  height: 24px;
}
.fashionCardDiv1 {
  width: 363.04px;
  height: 603.82px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 19.5px;
}
.exploreNowDiv2,
.nameDiv2 {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 37.5px;
  font-weight: 500;
  display: inline-block;
  width: 156.77px;
  height: 27.75px;
  flex-shrink: 0;
}
.exploreNowDiv2 {
  font-size: var(--font-size-base);
  color: var(--color-gray-400);
  width: 108.01px;
  height: 24.75px;
}
.fashionCardDiv2,
.fashionCardsDiv {
  display: flex;
  align-items: flex-start;
}
.fashionCardDiv2 {
  width: 367.54px;
  height: 603.82px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.fashionCardsDiv {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-around;
  gap: 95px;
  flex-wrap: wrap;
  font-size: var(--font-size-lg);
  color: var(--color-gray-800);
}
.newArrivalsDiv,
.newArrivalsSectionDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.newArrivalsDiv {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 76px;
}
.newArrivalsSectionDiv {
  background-color: var(--color-white);
  padding: 52px var(--padding-3xl) 69.05000305175781px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.dOWNLOADAPPGETTHEVOUCHER,
.get30OffForFirstTransact {
  position: relative;
  letter-spacing: 0.06em;
  line-height: 150%;
  font-weight: 900;
  display: inline-block;
}
.get30OffForFirstTransact {
  font-size: var(--font-size-base);
  letter-spacing: -0.04em;
  line-height: 26.25px;
  font-weight: 500;
  color: #7c7c7c;
  width: 314.29px;
  height: 45.76px;
  flex-shrink: 0;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30.75px;
}
.rectangleIcon {
  position: relative;
  border-radius: var(--br-sm);
  width: 153.02px;
  height: 53.26px;
  flex-shrink: 0;
  object-fit: cover;
}
.frameButton,
.frameDiv1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: column;
}
.frameDiv1 {
  flex-direction: row;
  gap: 14.25px;
}
.downloadAppDiv {
  gap: var(--gap-xl);
}
.downloadAppDiv,
.vouchersDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.image2Icon {
  position: relative;
  width: 528.19px;
  height: auto;
  flex-shrink: 0;
  object-fit: cover;
  max-width: 50%;
}
.appDownloadDiv {
  align-self: stretch;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: 71px 164px 94px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 176px;
}
.jOINSHOPPINGCOMMUNITYTOGET,
.typeYourEmailDownBelowAnd {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.03em;
  display: inline-block;
}
.jOINSHOPPINGCOMMUNITYTOGET {
  line-height: 52.51px;
  font-weight: 900;
}
.typeYourEmailDownBelowAnd {
  font-size: var(--font-size-lg);
  line-height: 26.25px;
  color: #fffcf8;
}
.joinDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}
.addYourEmailHere {
  border: 0;
  background-color: transparent;
  flex: 1;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.03em;
  line-height: 26.25px;
  font-family: var(--font-poppins);
  color: #767676;
  text-align: left;
  display: inline-block;
}
.addYourEmailHere:focus {
  outline: 0;
}
.sENDDiv {
  position: relative;
  font-size: 24.75px;
  letter-spacing: 0.03em;
  line-height: 26.25px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.button1,
.formDiv {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: 11px 26px;
  background-color: var(--color-black);
  border-radius: 6px;
  justify-content: center;
}
.formDiv {
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  width: 419.77px;
  height: 65px;
  flex-shrink: 0;
  padding: 8px var(--padding-4xs);
  justify-content: flex-start;
  gap: 20px;
}
.communityDiv,
.communityInnerDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.communityInnerDiv {
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.communityDiv {
  background-color: #e5c643;
  padding: 111px 341.2900085449219px;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  font-size: 41.25px;
  color: var(--color-white);
}
.fASHIONDiv {
  position: relative;
  font-size: var(--font-size-xl);
  letter-spacing: 0.03em;
  font-weight: 900;
  font-family: var(--font-poppins);
  display: inline-block;
  width: 144.02px;
  height: 39.3px;
  flex-shrink: 0;
}
.completeYourStyleWithAweso {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 30px;
  color: var(--color-gray-300);
  display: inline-block;
  width: 311.29px;
}
.rectangleDiv3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gold-100);
}
.vectorIcon1 {
  position: absolute;
  height: 48.08%;
  width: 25.75%;
  top: 25%;
  right: 37.71%;
  bottom: 26.92%;
  left: 36.54%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupDiv {
  position: relative;
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}
.vectorIcon2 {
  position: absolute;
  height: 42.08%;
  width: 42.09%;
  top: 28.85%;
  right: 29.06%;
  bottom: 29.07%;
  left: 28.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.inB,
.vectorIcon3 {
  position: absolute;
  left: 30.77%;
}
.vectorIcon3 {
  height: 39.05%;
  width: 48.08%;
  top: 30.77%;
  right: 21.15%;
  bottom: 30.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.inB {
  height: 53.85%;
  width: 44.23%;
  top: 11.54%;
  letter-spacing: 0.02em;
  line-height: 30px;
  display: inline-block;
}
.fashionDiv,
.logosDiv {
  display: flex;
  align-items: flex-start;
}
.logosDiv {
  flex-direction: row;
  justify-content: flex-start;
  gap: 10.5px;
  color: var(--color-black);
}
.fashionDiv {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-md);
}
.aboutDiv,
.careersDiv,
.companyDiv,
.contactUsDiv,
.supportDiv {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 30px;
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.companyDiv {
  color: var(--color-gray-200);
  width: 79px;
}
.aboutDiv,
.careersDiv,
.contactUsDiv,
.supportDiv {
  width: 50px;
}
.careersDiv,
.contactUsDiv,
.supportDiv {
  width: 103px;
}
.careersDiv,
.supportDiv {
  width: 66px;
}
.careersDiv {
  width: 65px;
}
.column1Div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.fAQsDiv,
.ordersTrackingDiv,
.quickLinkDiv,
.shareLocationDiv,
.sizeGuideDiv {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 30px;
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.quickLinkDiv {
  color: var(--color-gray-200);
  width: 87px;
}
.fAQsDiv,
.ordersTrackingDiv,
.shareLocationDiv,
.sizeGuideDiv {
  width: 125px;
}
.fAQsDiv,
.ordersTrackingDiv,
.sizeGuideDiv {
  width: 132px;
}
.fAQsDiv,
.sizeGuideDiv {
  width: 88px;
}
.fAQsDiv {
  width: 43px;
}
.column2Div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
  color: var(--color-gray-500);
}
.legalDiv {
  width: 45px;
}
.legalDiv,
.privacyPolicyDiv,
.termsConditions {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 30px;
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.termsConditions {
  color: var(--color-gray-300);
  width: 161px;
}
.privacyPolicyDiv {
  color: #787878;
  width: 116px;
}
.column3Div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-md);
  color: #eaeaea;
}
.innerFooterDiv,
.linksDiv1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.linksDiv1 {
  justify-content: flex-start;
  gap: 141.02px;
  color: var(--color-gray-300);
}
.innerFooterDiv {
  align-self: stretch;
  justify-content: space-between;
}
.footerDiv,
.shoppingLandingPageFinalDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footerDiv {
  align-self: stretch;
  background-color: var(--color-black);
  padding: 89px var(--padding-2xl) 110px;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.shoppingLandingPageFinalDiv {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  gap: 0;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .cATALOGUEButton,
  .fASHIONButton,
  .fAVOURITEButton,
  .lIFESTYLEButton {
    font-size: var(--font-size-3xs);
  }
  .linksDiv {
    gap: var(--gap-xs);
  }
  .sIGNUPDiv {
    font-size: 16px;
  }
  .menuRightDiv {
    gap: var(--gap-xs);
  }
  .navigationBarDiv {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .heroSectionDiv {
    flex-direction: column;
  }
  .fashionCardsDiv {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .appDownloadDiv {
    flex-direction: column;
  }
  .communityDiv {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .innerFooterDiv {
    flex-direction: column;
    gap: var(--gap-2xl);
  }
}
@media screen and (max-width: 768px) {
  .linksDiv {
    display: none;
  }
  .component2Button {
    display: flex;
    border-radius: 17.68px;
  }
  .sIGNUPDiv {
    font-size: var(--font-size-xs);
  }
  .menuRightDiv {
    gap: var(--gap-xs);
  }
  .navigationBarDiv {
    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    box-sizing: border-box;
  }
  .rectangleDiv1 {
    max-width: 76%;
    max-height: 15%;
    top: 150;
    left: 15;
  }
  .rectangleDiv2 {
    max-width: 65%;
    max-height: 15%;
    top: 10;
  }
  .lETSEXPLOREUNIQUECLOTHES {
    font-size: 50px;
    line-height: 70px;
  }
  .liveForInfluentialAndInnov {
    font-size: 17px;
    width: 100%;
  }
  .vectorIcon {
    width: 100px;
  }
  .shopNowDiv {
    font-size: var(--font-size-3xs);
  }
  .heroDiv {
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
    box-sizing: border-box;
  }
  .titleDiv1 {
    font-size: var(--font-size-xl);
  }
  .newArrivalsSectionDiv {
    padding-right: var(--padding-3xl);
    box-sizing: border-box;
  }
  .dOWNLOADAPPGETTHEVOUCHER {
    font-size: var(--font-size-xl);
  }
  .get30OffForFirstTransact {
    font-size: var(--font-size-2xs);
  }
  .image2Icon {
    min-width: 400px;
    max-width: 90%;
  }
  .appDownloadDiv {
    flex-direction: column;
  }
  .jOINSHOPPINGCOMMUNITYTOGET {
    font-size: 35px;
    line-height: 40px;
  }
  .addYourEmailHere,
  .typeYourEmailDownBelowAnd {
    font-size: var(--font-size-xs);
  }
  .addYourEmailHere {
    width: calc(100% - 120px);
  }
  .sENDDiv {
    font-size: 20px;
  }
  .formDiv {
    width: 100%;
  }
  .communityDiv {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    box-sizing: border-box;
  }
  .linksDiv1 {
    flex-direction: column;
    gap: var(--gap-2xl);
  }
}
@media screen and (max-width: 428px) {
  .sIGNUPDiv {
    font-size: var(--font-size-2xs);
  }
  .navigationBarDiv {
    padding-left: var(--padding-2xs);
    padding-right: var(--padding-2xs);
    box-sizing: border-box;
  }
  .rectangleDiv1 {
    width: 371px;
    max-width: 75%;
    max-height: 15%;
    top: 105;
    left: 20;
  }
  .rectangleDiv2 {
    max-width: 60%;
    max-height: 15%;
    top: 4;
    left: 4;
  }
  .lETSEXPLOREUNIQUECLOTHES {
    font-size: 40px;
    line-height: 50px;
  }
  .liveForInfluentialAndInnov {
    font-size: var(--font-size-2xs);
  }
  .shopNowDiv {
    font-size: var(--font-size-xs);
  }
  .button,
  .heroCTADiv {
    box-sizing: border-box;
  }
  .button {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
  }
  .heroCTADiv {
    padding-left: 0;
  }
  .heroDiv {
    padding-left: var(--padding-2xs);
    padding-right: var(--padding-2xs);
    box-sizing: border-box;
  }
  .fashionCardDiv,
  .fashionCardDiv1,
  .fashionCardDiv2 {
    max-width: 95%;
  }
  .newArrivalsSectionDiv {
    padding-left: var(--padding-2xs);
    padding-right: var(--padding-2xs);
    box-sizing: border-box;
  }
  .dOWNLOADAPPGETTHEVOUCHER {
    font-size: 25px;
  }
  .get30OffForFirstTransact {
    font-size: 12px;
  }
  .image2Icon {
    min-width: 350px;
  }
  .jOINSHOPPINGCOMMUNITYTOGET {
    font-size: var(--font-size-xl);
    line-height: 30px;
  }
  .typeYourEmailDownBelowAnd {
    font-size: var(--font-size-3xs);
    line-height: 16px;
  }
  .button1 {
    padding-left: var(--padding-4xs);
    padding-right: var(--padding-4xs);
    box-sizing: border-box;
  }
  .communityDiv,
  .footerDiv {
    padding-left: var(--padding-2xs);
    padding-right: var(--padding-2xs);
    box-sizing: border-box;
  }
  .footerDiv {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
  }
}
@media screen and (min-width: 1440px) {
  .newArrivalsSectionDiv {
    max-width: 1440px;
    align-self: center;
  }
}
